.navbar{
    width: 100%;
    height: 50px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.logo{
   color: white;
   font-size: 20px;
   padding-left: 10px;
}
.navbar ul{
    display: inline-flex;
    gap: 15px;
}
.navbar ul li{
    list-style-type: none;
    margin-right: 25px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.cart-count{
    display: inline-block;
    height: 10px;
    width: 8px;
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 11px;
}