.product{
    width: 200px;
    height: 300px;
    border: 1px #ccc solid;
}

.produt .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    padding: 5px;
}
.details h3{
    margin-bottom: 10px;
    font-size: 16px;
}
.details button{
    margin-top: 8px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color:teal ;
    color: white;
    text-align: center;
    font-weight: 550;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.details button:hover{
    background-color: rgb(5, 107, 107);
}
.details p{
    font-size: 14px;
    font-weight: 500;
    color: #888;
}
.btnRemove{
    background-color: red !important;
}